/*.calculator{*/
/* display:block;*/
/*}*/

.btn{
 width:40px;
 background-color:rgba( 230,230,230,0.5);
}

.btn_dbl{
 width:85px;
 background-color:rgba( 230,230,230,0.5);
}

#result{
 display: inline-block;
 width:175px;
 text-align:right; 
 padding:0px;
 background-color:rgba( 230,230,230,0.5);
 border:1px black solid;
}
/*.line4{*/
/* display:block;*/
/*}*/

/*.line1{*/
/* display:block;*/
/*}*/

/*.line0{*/
/* display:block;*/
/*}*/

/*.acline{*/
/* display:block;*/
/*}*/